body {
    max-width: 720px;
    margin: 3em auto;
    line-height: 1.5;
    font-family: 'Iosevka Web';
    background: #eeeeee;
    color: #131313;
}

pre {
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 4px;
}

a:any-link {
    color: #131313;
    text-decoration: 1px solid underline #aaaaaa;
}