/* reset */
* {
    all: unset;
}

body {
    background: #202020;
    color: #eeeeee;
    font-family: serif;
    font-size: 18px;
}

pre {
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

ul::marker {
    content: '◢';
}

a {
    color: #555555;
    text-decoration: none;
}